.center_div {
  margin: 0 auto;
  width: 80%; /* value of your choice which suits your alignment */
}

.addJob {
  border: 0;
  background-color: #1e3cba;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  margin-left: 10rem;
}
.input-wrapper {
  position: relative;
}
.input-wrapper label {
  font-family: "Baloo Da 2", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: rgba(33, 40, 50, 0.5);
  margin-top: 20px;
  margin-bottom: 4px;
}
.deleteFields {
  border: 0;
  font-size: 30px;
  color: #1e3cba;
  background-color: #fff;
}
.deleteFields:hover {
  color: red;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.jobsPostSubmit {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #320fcc, #1e3cba);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  font-family: "Baloo Da 2", cursive;
  border: none;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
}
.inputImage {
  /* padding: 0.8em; */
  outline: none;
  padding-top: 9px;
  border: 3px dotted rgb(56, 18, 193);
  background-color: transparent;
  border-radius: 20px;
  max-width: 400px;
  margin-bottom: 30px;
}
.iconsJobs {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 30px;
}
.textareaSize {
  width: 90% !important;
}
.error {
  color: red;
  font-family: "Baloo Da 2", cursive;
  font-size: 16px;
  padding-top: 5px;
  margin: 0px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  font-size: 15px;
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

.image-preview {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-top: 10px;
}
/* .rti--container {
  width: 400px;
  border: 2px solid rgb(56, 18, 193);
  border-radius: 20px;
  background-color: #ebedef;
  padding: 12px !important;
}

.rti-main {
  border: 2px solid rgb(56, 18, 193) !important;
  outline: none !important;
  box-shadow: 0 0 10px #88a0ff !important;
}

.rti--tag {
  background-color: #1e3cba !important;
  color: white;
}
.rti-tag-remove {
  color: white;
} */

@media only screen and (max-width: 760px) {
  /* .rti--container {
    max-width: 100%;
  } */
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  /* .rti--container {
    max-width: 350px;
  } */
}
