.paperDiv {
  padding-top: 5rem;
  padding-bottom: 20rem;
  position: relative;
}

.paper-img {
  width: 100%;
  position: absolute;
  top: -3rem;
  left: -10rem;
}

.header-unive-why {
  font-family: "Baloo Da 2", normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 135px;
  color: #1e3cba;
  padding-left: 2rem;
  padding-top: 5rem;
}
.unive-why-para {
  font-family: "Baloo Da 2", normal;
  color: #1e3cba;
  font-weight: 500;
  font-size: 40px;
  padding-left: 2rem;
}
.paper-img-one {
  width: 100%;
  position: absolute;
  top: 3.5rem;
  left: -9rem;
}
.main-image-one {
  position: absolute;
  top: 28rem;
  left: 22rem;
  width: 70%;
  margin-bottom: 15rem;
}

.see-more-btn {
  margin-top: -8rem;
  --color: #1c3a99 !important;
  font-family: inherit;
  display: inline-block;
  width: 9rem;
  height: 3.5em;
  text-align: center;
  /* margin-top: 1rem; */
  font-family: "Baloo Da 2", cursive;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  margin-left: 30px;
  margin-right: 30px;
}

.see-more-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.see-more-btn:hover {
  color: #fff;
}

.see-more-btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.see-more-btn:hover:before {
  top: -30px;
  left: -30px;
}

.see-more-btn:active:before {
  background: linear-gradient(
    90deg,
    #26235d -57.36%,
    #1c3a99 50.2%,
    #26235d 118.37%
  );
  transition: background 0s;
}

@media only screen and (max-width: 600px) {
  .paperDiv {
    padding-bottom: 0.5rem;
  }
  .header-unive-why {
    font-size: 30px;
    line-height: 50px;
    padding-left: 15px;
    padding-top: 1rem;
  }
  .unive-why-para {
    font-size: 14px;
    line-height: 25px;
    padding-left: 19px;
  }
  .paper-img {
    width: 100%;
    top: 1.3rem;
    left: -26px;
  }
  .paper-img-one {
    top: 9.6rem;
    left: -32px;
  }
  .main-image-one {
    top: 78%;
    left: 42%;
    width: 50%;
  }

  .see-more-btn {
    width: 7rem;
    height: 2.4em;
    font-size: 12px;
    font-weight: 800;
    margin-top: -3rem;
    margin-left: 1.2rem;
    padding-top: 2px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .paperDiv {
    padding-bottom: 0.5rem;
  }
  .header-unive-why {
    font-size: 50px;
    line-height: 70px;
    padding-left: 15px;
    padding-top: 3rem;
  }
  .unive-why-para {
    font-size: 30px;
    line-height: 45px;
    padding-left: 15px;
  }
  .paper-img {
    width: 100%;
    top: 1rem;
    left: -100px;
  }
  .paper-img-one {
    top: 3rem;
    left: -90px;
  }
  .main-image-one {
    top: 69%;
    left: 33%;
    width: 70%;
  }

  .see-more-btn {
    margin-top: 2.5rem;
    margin-left: 1rem;
  }
}
