.sub-headers-et{
    font-family: "Baloo Da 2", cursive;
    font-size: 20px;
    font-weight: 700 ;
    color: #1E3CBA;
   
}
.sub-headers-two-et{
    font-family: "Baloo Da 2", cursive;
    font-size: 22px;
    font-weight: 800 ;
    color: #1E3CBA;
}