#delete-btn-user{
    background-color: #e6617e;
    border:none;
}
.user-header{
    font-family: "Baloo Da 2", cursive;
    color:#1e3cba;
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
   
}